div {
    width: 100%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 40px;
}

div h1 {
    font-size: 30px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;
    margin: 0px;
}